body {
    background-image: url(./img/rabit\ hole.jpg);
    background-color: #000000;
    background-position:top;
    background-repeat:no-repeat;
    width: 100%;
    max-height: max-content;
  }

header {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 20px 55px;
    border-bottom: 2px solid; /* adiciona uma borda inferior de 4 pixels de largura */
    border-image: linear-gradient(to right, #0cda95, #0980e0) 1; /* define a cor da borda como um gradiente de azul claro para azul escuro */
}
    
header h1 {
    flex: 1; /* faz com que o título ocupe todo o espaço disponível */
    margin: 0;
    padding-left: 1rem;
} 

header img {
    height: 50px;
    margin: 0;
    object-fit: contain; /* mantém a proporção do logotipo */
}  

h1 {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s; /* adiciona transição suave na mudança de cor */
    font-size:xx-large;
}

.botao-entrar {
    margin: 20rem auto;
    color: rgb(0, 0, 0); /* mantém a cor do texto */
    text-decoration: none; /* remove o sublinhado */
    transition: color 0.2s; /* adiciona transição suave na mudança de cor */
    border-color: black;
    border: 15px;
    font-weight: 600;
}

.botao-cabeçalho {
    color: rgb(255, 255, 255); /* mantém a cor do texto */
    text-decoration: none; /* remove o sublinhado */
}


.caixa-entrar {
    padding: 1rem 2rem;
    margin-right: 7rem;
    background-color: rgba(211, 211, 211, 0.438);
    color: #000000;
    border: 2px;
}

.caixa-entrar :hover {
    background-color: rgba(211, 211, 211, 0);
    border-color: aqua;
    color: #ffee00;
}