header {
    display: flex;    
    align-items: center;
    background-color: black;
    border-bottom: 2px solid; /* adiciona uma borda inferior de 4 pixels de largura */
    border-image: linear-gradient(to right, #0cda95, #0980e0) 1; /* define a cor da borda como um gradiente de azul claro para azul escuro */
    padding: 12px;
}

header h1 {
/* faz com que o título ocupe todo o espaço disponível */
    margin: 0;
    padding-left: 1rem;
} 

header img {
    height: 50px;
    margin: 0;
    object-fit: contain; /* mantém a proporção do logotipo */
}  

h1 {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s; /* adiciona transição suave na mudança de cor */
    font-size:xx-large;
}

.cabeçalho {
    display: flex;
    align-items: center;
}

.botao-entrar {
    margin: 20rem auto;
    color: rgb(0, 0, 0); /* mantém a cor do texto */
    text-decoration: none; /* remove o sublinhado */
    transition: color 0.2s; /* adiciona transição suave na mudança de cor */
    border-color: black;
    border: 15px;
    font-weight: 600;
}

.botao-cabeçalho {
    color: rgb(255, 255, 255); /* mantém a cor do texto */
    text-decoration: none; /* remove o sublinhado */
}

@media (min-width:370px) and (max-width: 550px) {
    .cabeçalho {
        scale: 0.9;
    }
}
@media (max-width: 370px) {
    .cabeçalho {
        scale: 0.9;
    }
}

@media (min-width:550px) {
    header {
        padding-left: 35px;
    }
}