* {
 box-sizing: border-box;
}

.caixa-entrar {
  background-image: linear-gradient(7deg,#484850,#03111d);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size:x-large;
  margin: 0 auto;
  cursor: pointer;
  font-family: monospace;
  z-index: 2;
  position: absolute;
  inset: 2px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: solid 1px #179536db;
}

main {
    justify-content: center;
}

/* borda luminosa */
.box {
  margin: 20.5rem auto;
  position: relative;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
	border: solid 3px black;
	background-color: #25ff9659;
}

.box::before {
  top: 15%;
  left: -5%;
  content: '';
  position: absolute;
  width: 110px;
  height: 25px;
  background: linear-gradient(0deg,transparent,#ffffff ,transparent);
  animation: animate 5s linear infinite;
  border-radius: 10px;
	z-index:-1;
}

@keyframes animate {
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

 /* borda luminosa */

 /* efeito piscando */

.piscando {
  background-image: url(./img/rabit\ hole.jpg);
  background-position:top;
  background-repeat:no-repeat;
  width: 100%;
  max-height: max-content;
  background-color: black;
  animation: piscar 9s linear infinite;
  z-index: 2;
}

@keyframes piscar {
  0% {
    background-image: url("./img/rabit\ hole.jpg");
  }
  35% {
    background-image: url("./img/rabit\ hole.jpg");
  }
  36% {
    background-image: none;
  }
  70% {
    background-image: url("./img/rabit\ hole.jpg");
  }
  95% {
    background-image: url("./img/rabit\ hole.jpg");
  }
  96% {
    background-image: none;
  }
  98% {
    background-image: url("./img/rabit\ hole.jpg");
  }
  99% {
    background-image: none;
  }
  100% {
    background-image: url("./img/rabit\ hole.jpg");
  }
}

/* efeito piscando */
