.caixa-entrar {
  background-image: linear-gradient(7deg,#484850,#03111d);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size:x-large;
  margin: 0 auto;
  cursor: pointer;
  font-family: monospace;
  /* z-index: 2; */
  position: absolute;
  inset: 2px;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-collapse: collapse;
}

main {
    justify-content: center;
}

/* borda luminosa */
.box {
  margin: 20.5rem auto;
	position: absolute;
	width: 100px;
  height: 35px;
	background: #8d0c0c81;
	border-radius: 30%;
	overflow: hidden;
}

.box::before {
  top: 15%;
  left: -5%;
	content: '';
	position: absolute;
	width: 110px;
  height: 25px;
	background: linear-gradient(0deg,transparent,#ffffff ,transparent);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

 /* borda luminosa */

 /* efeito piscando */

.piscando {
  background-image: url(./img/rabit\ hole.jpg);
  background-position:top;
  background-repeat:no-repeat;
  width: 100%;
  max-height: max-content;
  background-color: black;
  color: transparent;
  animation: piscar 9s linear infinite;
}
